<section class="projects-page">

  <div class="projects-intro">
    <div class="projects-label">Selected Works</div>

    <h1>
      What I've 
      <span>worked on.</span>
    </h1>

    <p>
      A collection of projects, experiments and milestones
      from my journey across technology and learning.
    </p>
  </div>


  <div class="projects-list">

    <!-- PROJECT 01 -->
    <article class="project-item featured">

      <div class="project-number">
        01
      </div>

      <div class="project-info">

        <h2>
          Linux Server
          Health Auditor
        </h2>

        <p>
          A Bash-based system monitoring project designed
          to inspect server health and report important
          system information.
        </p>

        <div class="project-stack">
          <span>Linux</span>
          <span>Bash</span>
          <span>Automation</span>
        </div>

        <a routerLink="/projects/linux-server-health-auditor" class="project-link">
           VIEW CAPSTONE PROJECT
       </a>

      </div>

      <div class="project-visual">
        <div class="project-visual-content">
          <img
            src="/images/linux-server-health-auditor.png"
            alt="Linux Server Health Auditor Project Image"
          >
        </div>
      </div>

    </article>


    <!-- PROJECT 02 -->
    <article class="project-item">

      <div class="project-number">
        02
      </div>

      <div class="project-info">

        <h2>
          EDUSAFE
        </h2>

        <p>
          An educational web application built as part
          of my software development journey.
        </p>

        <div class="project-stack">
          <span>Angular</span>
          <span>HTML</span>
          <span>CSS</span>
        </div>

      <a routerLink="/projects/education-web-app" class="project-link">
        VIEW PROJECT
      </a>

      </div>

      <div class="project-visual">
        <div class="project-visual-content">
         <img
            src="/images/edusafe.png"
            alt="EduSafe Project Image"
    >
        </div>

      </div>

    </article>


    <!-- PROJECT 03 -->
    <article class="project-item">

      <div class="project-number">
        03
      </div>

      <div class="project-info">

        <h2>
          Cloud
          Infrastructure
        </h2>

        <p>
          A collection of cloud infrastructure work,
          deployment exercises and AWS projects.
        </p>

        <div class="project-stack">
          <span>AWS</span>
          <span>S3</span>
          <span>CloudFront</span>
        </div>

        <a routerLink="/projects/fresh-basket" class="project-link">
        VIEW PROJECT →
        </a>

      </div>

     <div class="project-visual">
  <div class="project-visual-content">
    <img
      src="/images/fresh-basket.png"
      alt="Fresh Basket Project Image"
    >
  </div>
</div>

    </article>

  </div>

</section>